# App
PORT=3000

# Archimate
ARCHIMATE_INPUT_EXCEL_PATH=src/data/input/business_actors.xlsx
ARCHIMATE_OUTPUT_DIR=src/data/output
ARCHIMATE_DEFAULT_OUTPUT_FILE=archimate-model.xml

# Diagram
DIAGRAM_INPUT_EXCEL_PATH=src/data/input/Componentes.xlsx
DIAGRAM_OUTPUT_DIR=src/data/output
DIAGRAM_OUTPUT_EXCEL_FILE=diagramaComponentes.drawio
DIAGRAM_OUTPUT_JSON_FILE=diagramaComponentesJson.drawio

# Backward compatibility (optional)
# EXCEL_FILE_PATH=src/data/input/Componentes.xlsx
